<h1> Part 1

In [55]:
# Capstone Project Week 3 Assignment
# 1. For the Toronto neighborhood data, scrape the Wikipedia page
# 2. wrangle the data
# 3. clean it, and then read it into a pandas  dataframe so that it is in a structured format like the New York dataset
# 4. Explore
# 5. Segment
# 6. Cluster the neighborhoods in the city of Toronto based on the postalcode and borough information.
# 7. Use the embedded link option in the formatting  tools of the Response field to include the link

Use the Notebook to build the code to scrape the following Wikipedia page, 

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [61]:
import pandas as pd
df_ca = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df_ca.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [57]:
df_ca=df_ca[df_ca['Borough']!='Not assigned'][:].reset_index()

More than one neighborhood can exist in one postal code area

In [58]:
df_ca=df_ca.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x)).reset_index()

If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.

In [59]:
df_ca[df_ca['Neighbourhood']=='Not assigned']['Neighbourhood']=df_ca[df_ca['Neighbourhood']=='Not assigned']['Borough']

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [60]:

df_ca.shape

(103, 3)

<h1> Part 2