<h1> Part 1

In [1]:
# Capstone Project Week 3 Assignment
# 1. For the Toronto neighborhood data, scrape the Wikipedia page
# 2. wrangle the data
# 3. clean it, and then read it into a pandas  dataframe so that it is in a structured format like the New York dataset
# 4. Explore
# 5. Segment
# 6. Cluster the neighborhoods in the city of Toronto based on the postalcode and borough information.
# 7. Use the embedded link option in the formatting  tools of the Response field to include the link

Use the Notebook to build the code to scrape the following Wikipedia page, 

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [2]:
import pandas as pd
df_ca = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df_ca.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [3]:
df_ca=df_ca[df_ca['Borough']!='Not assigned'].reset_index(drop=True)
df_ca.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

More than one neighborhood can exist in one postal code area

In [4]:
df_ca=df_ca.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x)).reset_index()

If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.

In [5]:
df_ca[df_ca['Neighbourhood']=='Not assigned']['Neighbourhood']=df_ca[df_ca['Neighbourhood']=='Not assigned']['Borough']

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [6]:
df_ca.shape

(103, 3)

<h1> Part 2

In [7]:
df_geo=pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.head()

df_geo_i=df_geo.set_index('Postal Code')
df_ca_geo=df_ca.join(df_geo_i, on='Postal Code')
df_ca_geo.head()

  Postal Code      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]